# Ignoro tutti i file CSV (spesso sono dati pesanti o output)
*.csv
*.fit
*.png

# Ignoro i file temporanei di Windows (Zone.Identifier)
*:Zone.Identifier

/.idea
*.fits

.idea/
*.fits
PMC_DATA/
blazar/PMC_DATA_BLAZAR/

.ipynb_checkpoints/
